*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

openCVLibrary343/build/outputs/logs/

openCVLibrary343/build/intermediates/incremental/packageDebugResources/

openCVLibrary343/build/intermediates/incremental/compileDebugAidl/

openCVLibrary343/build/generated/source/aidl/debug/org/opencv/engine/
